<div class="item" id="<%= dom_id book %>">
  <%= image_tag book.image.medium.url, width: 32, alt: book.name, title: book.name %>
  <div class="content">
    <%= link_to book.name, book, class: "header" %>
    <div class="description">
      <%= t 'books.read_count_html', count: book.users.count %>
    </div>
  </div>

  <%= read_button book %>
</div>